.ExpandedWeatherCard{
    width: 300px;
    height: 270px;
    margin: 0 100px 0 100px;
        border: 1px solid #eee;
        border-radius: 30px;
        box-shadow: 0 10px 10px #ccc;
        padding: 15px;
        background-color: white;
        cursor: pointer;
}